i {
	color: #0099ff;
}

strong {
	font-size: x-large;
}

li {
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
		rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.time {
	font-size: x-small;
}

.totalAmount {
	color: rgba(255, 123, 0, 0.904);
	font-size: xx-large;
}

.amount {
	font-size: larger;
}

.search-title {
	font-size: larger;
}

.loginCard {
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
		rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.login-title {
	font-size: 2em;
	text-align: center;
}

.expense-data {
	width: 22%;
}
